.wrapper
  = render ('modules/header')
  .bread-crumbs
    - breadcrumb :user_sign_out
    = breadcrumbs separator: " &rsaquo; ", class: 'breadcrumbs-list'
  .main
    =render ('modules/side-bar')

    .content
      .logout-page
        .logout-page__body
          .logout-page__body__btn
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout-btn"

  = render ('modules/banner')
  = render ('modules/footer')

= render 'modules/sell-btn'