.wrapper
  = render ('modules/header')
  - breadcrumb :mypage
  .main
    =render ('modules/side-bar')
    .content
      .mypage-user
        .mypage-user__icon
          .mypage-user__icon__link
            .mypage-user__icon__link__image
              = image_tag 'member_photo_noimage_thumb.png', size: '60x60'
            .mypage-user__icon__link__user-name
              = @user.nickname
            .mypage-user__icon__link__infomation
              .mypage-user__icpn__link__infomation__evalution
                評価100万
              .mypage-user__icon__link__infomation__number
                出品数99万
      
      .mypage-tab
        %ul.mypage-tab__menu
          %li.mypage-tab__menu__nav
            お知らせ
          %li.mypage-tab__menu__nav
            やることリスト

        %ul.mypage-tab__list
          %li.mypage-tab__list__item
            .mypage-tab__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab__list__item__body
              .mypage-tab__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab__list__item__body__time
                .mypage-tab__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab__list__item__body__time__date
                  1日前
            .mypage-tab__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab__list__item
            .mypage-tab__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab__list__item__body
              .mypage-tab__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab__list__item__body__time
                .mypage-tab__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab__list__item__body__time__date
                  1日前
            .mypage-tab__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab__list__item
            .mypage-tab__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab__list__item__body
              .mypage-tab__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab__list__item__body__time
                .mypage-tab__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab__list__item__body__time__date
                  1日前
            .mypage-tab__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab__list__item
            .mypage-tab__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab__list__item__body
              .mypage-tab__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab__list__item__body__time
                .mypage-tab__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab__list__item__body__time__date
                  1日前
            .mypage-tab__list__item__icon-arrow-right
              %i.fas.fa-chevron-right
              
          %li.mypage-tab__list__item
            .mypage-tab__list__item__index
              一覧を見る

      .mypage-tab-container
        購入した商品
        %ul.mypage-tab-container__menu
          %li.mypage-tab-container__menu__nav
            取引中
          %li.mypage-tab-container__menu__nav
            過去の取引

        %ul.mypage-tab-container__list
          %li.mypage-tab-container__list__item
            .mypage-tab-container__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab-container__list__item__body
              .mypage-tab-container__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab-container__list__item__body__time
                .mypage-tab-container__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab-container__list__item__body__time__date
                  1日前
            .mypage-tab-container__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab-container__list__item
            .mypage-tab-container__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab-container__list__item__body
              .mypage-tab-container__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab-container__list__item__body__time
                .mypage-tab-container__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab-container__list__item__body__time__date
                  1日前
            .mypage-tab-container__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab-container__list__item
            .mypage-tab-container__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab-container__list__item__body
              .mypage-tab-container__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab-container__list__item__body__time
                .mypage-tab-container__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab-container__list__item__body__time__date
                  1日前
            .mypage-tab-container__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab-container__list__item
            .mypage-tab-container__list__item__icon
              %figure
                = image_tag 'icon_brand.png', size: '48x48'
            .mypage-tab-container__list__item__body
              .mypage-tab-container__list__item__body__text
                事務局から個別メッセージ「ログイン通知」
              .mypage-tab-container__list__item__body__time
                .mypage-tab-container__list__item__body__time__icon
                  = icon 'far', 'clock'
                .mypage-tab-container__list__item__body__time__date
                  1日前
            .mypage-tab-container__list__item__icon-arrow-right
              %i.fas.fa-chevron-right

          %li.mypage-tab-container__list__item
            %p.mypage-tab-container__list__item__index
              一覧を見る

  = render ('modules/banner')
  = render ('modules/footer')

= render 'modules/sell-btn'