.login
  .login__top
    = link_to "/" do
      %img.logo1{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3642602565"}/

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .register
      %p.register__new アカウントをお持ちでない方はこちら
      = link_to '新規会員登録',new_user_registration_path
    .sns
      .sns__facebook.box
        = icon('fab', 'facebook-square', class: 'icon-f')
        Facebookでログイン
      .sns__google.box
        = icon('fab', 'google', class: 'icon-g')
        Googleでログイン
    .login-form
      = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",class: "login-input"
      = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード",class: "login-input"
      .confirm 私はロボットではありません
      %label.actions
        = f.submit "ログイン",class: "login-btn"
      .actions2
        = link_to "パスワードをお忘れの方", new_password_path(resource_name),class: "forget"

  .login_bottom
    %p.policy プライバシーポリシー　メルカリ利用規約　特定商取引に関する表記
    = link_to "/" do
      %img.logo2{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3642602565", :width => "80"}/
    .inc © Mercari, Inc.