%body
  / Google Tag Manager (noscript)
  %noscript
    %iframe{:height => "0", src: "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", style: "display:none;visibility:hidden", width: "0"}
  / End Google Tag Manager (noscript)
  .confirm
    = render "/modules/logo-header"
    %main.confirm__main
      %section.confirm__main__container.buy-item-container
        %h2.confirm__main__container__head.buy-head 購入内容の確認
        %section.confirm__main__container__detail.buy-item
          .confirm__main__container__detail__inner
            .confirm__main__container__detail__inner__item-box
              %h3.confirm__main__container__detail__inner__item-box__item-image
                =image_tag "https://ca.slack-edge.com/TK2M4NQC8-UREHDFJJH-e8345f185cde-512", class: "confirm__main__container__detail__inner__item-box__item-image__lazyload"
              .confirm__main__container__detail__inner__item-box__item-detail
                %p.confirm__main__container__detail__inner__item-box__item-detail__item-name 
                  = @item.name
                %p.confirm__main__container__detail__inner__item-box__item-detail__price-ja.bold
                  = @item.price
                  %span.confirm__main__container__detail__inner__item-box__item-detail__price-ja__shipping-fee （税込）送料込み
        %section.confirm__main__container__procedures
          .confirm__main__container__procedures__inner
            =form_for(@item, as: :item,url: root_path, html:{class: "confirm__main__container__procedures__inner__form", "method": "GET", "novalidate": "novalidate"}) do |f| 
              %ul.confirm__main__container__procedures__inner__form__price-table
                %li.confirm__main__container__procedures__inner__form__price-table__price-row.buy-you-pay.bold
                  .confirm__main__container__procedures__inner__form__price-table__price-row__label 支払い金額
                  .confirm__main__container__procedures__inner__form__price-table__price-row__price-cell
                    = @item.price
              %ul.confirm__main__container__procedures__inner__form__have-point
                %li.confirm__main__container__procedures__inner__form__have-point__accordion-parent
                  .confirm__main__container__procedures__inner__form__have-point__accordion-parent__checkbox-default.buy-use-point
                    %input{disabled: "disabled", type: "checkbox"}/
                    %i.icon-check
                    %label ポイントを使用 (所持ポイント: P0)
              %section.confirm__main__container__procedures__inner__form__payment.buy-user-info{"data-buy": "pay-method"}
                .confirm__main__container__procedures__inner__form__payment__inner
                  %h3 支払い方法
                  =link_to "https://www.mercari.com/jp/transaction/card/m96441081104/?_s=U2FsdGVkX1-VG7m5r2eDKAuxwfPHWBaohvvHR6Sz7lUoVYolnAVTs1H_mAXRFdGh0dA4QbXrgNYHENpP_cpSvdHYrSRoWmb_8RfV8FkvFQ1JIGhfiYVvgrhMyuTaWSTw" do
                    %p.confirm__main__container__procedures__inner__form__payment__inner__user-info-text
                      %i.fas.fa-plus-circle
                      %span.confirm__main__container__procedures__inner__form__payment__inner__user-info-text__registar-text 登録してください
              %section.confirm__main__container__procedures__inner__form__shipping-address.buy-user-info
                .confirm__main__container__procedures__inner__form__shipping-address__inner
                  .confirm__main__container__procedures__inner__form__shipping-address__inner__clearfix
                    %h3.confirm__main__container__procedures__inner__form__shipping-address__inner__clearfix__left 配送先
                    =link_to "https://www.mercari.com/jp/transaction/address/m96441081104/?_s=U2FsdGVkX1-VG7m5r2eDKAuxwfPHWBaohvvHR6Sz7lUoVYolnAVTs1H_mAXRFdGh0dA4QbXrgNYHENpP_cpSvdHYrSRoWmb_8RfV8FkvFQ1JIGhfiYVvgrhMyuTaWSTw", class: "confirm__main__container__procedures__inner__form__shipping-address__inner__clearfix__right buy-user-info-fix" do
                      %span 変更する
                  %address.confirm__main__container__procedures__inner__form__shipping-address__inner__user-info-text
                    %p
                      〒
                      = @user.address.post_code
                      %br/
                      = @user.address.prefecture
                      = @user.address.town
                      %br/
                      = @user.first_name
                      = @user.last_name
              %section.confirm__main__container__procedures__inner__form__decision.buy-user-info
                = form_tag(action: :pay, method: :post) do
                  %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_5ec65b0b13864670fb40c7d8"}
          %section
    = render "modules/logo-footer"