.wrapper
  = render ('modules/header')
  .main
    =render ('modules/side-bar')
    .content
      .logout-page
        .logout-page__body
          .logout-page__body__btn
            = link_to "商品を削除する", item_path, method: :delete, class:"logout-btn"


  = render ('modules/banner')
  = render ('modules/footer')

= render 'modules/sell-btn'