.exhibition
  = render 'modules/logo-header'
  %main.exhibition__main
    %section.exhibition__main__container.buy-item-container
      #sell-container
        %div{"data-reactroot" => ""}
          .exhibition__main__container__inner
            %h2.exhibition__main__container__inner__head 商品の情報を入力
            = form_for(@item, url: "/items/#{@item.id}", method: :patch) do |f|
              .new_item__image
                .new_item__image__upload
                  %h3.exhibition__main__container__inner__form__image__upload__head
                    出品画像
                    %span.new_item__image__upload__head__require 必須
                  %p 最大5枚までアップロードできます
                  .image-box#image-box-1
                    - @images.each do |img|
                      .item-image{"data-image" => img.image}
                        .item-image__content
                          .item-image__content--icon
                            = image_tag img.image.url, "height": "114", "width": "116"
                        .item-image__operetion
                          = link_to "削除",image_path(img.id),method: :delete
                    .image-box__item-num-0#image-box__container
                      = f.fields_for :image do |i|
                        .image-box__item-num-0__input-area#image-box__container__input-area
                          = i.file_field :image, type: 'file', name: "item[images_attributes][][image]", value:"", style: "display:none", id:"img-file"
                          %label{for: "img-file"}
                            %i.fas.fa-camera
              .e-content-name
                .e-content-name__form-group
                  %label
                    商品名
                    %span.e-content-name__form-group__require 必須
                  %div
                    = f.text_field :name,:placeholder => "商品名（必須 40文字まで)",class: "e-content-name__form-group__input-default"
                .e-content-name__form-group
                  %label
                    商品の説明
                    %span.e-content-name__form-group__require 必須
                  = f.text_area :detail,class: "e-content-name__form-group__textarea-default", :rows => "5",:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              .e-content
                .e-content__header
                  %h3.e-content__header__head 商品の詳細
                .e-content__form-box
                  .listing-product-detail__category
                    = f.label :category_id, "カテゴリー"
                    %span.listing-default--require 必須  
                    .listing-select-wrapper
                      .listing-select-wrapper__box#parent_wrapper
                        = select_tag(:category_id, options_for_select(@parent_categories, selected: @parent),class: 'listing-select-wrapper__box--select', id: 'parent_category')
                    #children_wrapper.listing-select-wrapper__added
                      .listing-select-wrapper__box
                        %select#child_category.listing-select-wrapper__box--select{:name => ":category_id",data: {child_id: @child.id}}
                          - @child_categories.each do |cat|
                            %option{value: "#{cat.id}",class:"child", "data-category": "#{cat.id}"} #{cat.name}
                    #grandchildren_wrapper.listing-select-wrapper__added
                      .listing-select-wrapper__box
                        = f.collection_select(:category_id, @grand_child, :id, :name, {prompt: "---"}, {id: "grand_child"})
                  .form-group
                    %label
                      商品の状態
                      %span.form-group__require 必須
                    .select-wrap
                      = f.select(:status, Item.statuses_i18n.invert,{},prompt: "---")
              .e-content
                .e-content__header
                  %h3.e-content__header__head 配送について
                  =link_to "?", "/jp/help_center/article/68/", class: "exhibition__main__container__inner__form__content__header__question", target: "_blank"

                .e-content__form-box
                  .content__mail-box
                    .form-group
                      %label
                        配送料の負担
                        %span.form-group__require 必須
                      .select-wrap
                        = f.select(:mail,[["---",''],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],class: "select-wrap__select-default",id: 'item_mail')
                    .form-group-way#postage_wrapper
                      %label
                        配送の方法
                        %span.form-group__require 必須
                      .select-wrap
                        = f.select(:mail_way,[[@item.mail_way,@item.mail_way],["",""],["",""]],class: "select-wrap__select-default",id: 'item_mail_way')
                  .form-group
                    %label
                      発送元の地域
                      %span.form-group__require 必須
                    .select-wrap
                      = f.collection_select(:prefecture_id,Prefecture.all,:id, :name, prompt: "---",class:"select-wrap__select-default")
                  .form-group
                    %label
                      発送までの日数
                      %span.form-group__require 必須
                    .select-wrap
                      = f.collection_select(:arrival_date_id,Arrival_date.all,:id, :date, prompt: "---")
              .e-content-price
                .e-content-price__header
                  %h3.e-exhibition__main__container__inner__form__content-price__header__head 販売価格(300〜9,999,999)
                  %a.e-content-price__header__question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                .e-content-price__form-box
                  %ul.e-content-price__form-box__price
                    %li.e-content-price__form-box__price__form-group
                      .e-content-price__form-box__price__form-group__inner
                        %label.e-content-price__form-box__price__form-group__inner__left.bold
                          価格
                          %span.e-content-price__form-box__price__form-group__inner__left__require 必須
                        .e-content-price__form-box__price__form-group__inner__right
                          .e-content-price__form-box__price__form-group__inner__right__input
                            ¥
                          = f.text_field :price, :placeholder => "例）300",value: @item.price,class: "amount-input"
                    %li.e-content-price__form-box__price__form-group
                      .e-content-price__form-box__price__form-group__inner
                        %label.e-content-price__form-box__price__form-group__inner__left
                          販売手数料 (10%)
                        .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__right 
                          .fee 
                    %li.exhibition__main__container__inner__form__content-price__form-box__price__form-group
                      .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner.none
                        .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__left.boldest 販売利益
                        .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__right.boldest
                          .total_amount
              .modal{:role => "dialog", :tabindex => "-1"}
                .modal__inner
              .e-btn-box

                %div
                  %p
                    =link_to "禁止されている出品", "/jp/help_center/getting_started/prohibited_items/", target: "_blank"
                    、
                    =link_to "行為", "/jp/help_center/getting_started/prohibited_conduct/", target: "_blank"
                    を必ずご確認ください。
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "偽ブランドの販売","/jp/help_center/getting_started/counterfeit_goods/", target: "_blank"
                    は犯罪であり処罰される可能性があります。
                  %p
                    また、出品をもちまして
                    =link_to "加盟店規約","/jp/seller_terms/"
                    に同意したことになります。
                %div
                  = f.submit '変更する', class:"e-btn-box__btn-default btn-red"
                =link_to "もどる", "/",class: "e-btn-box__btn-default btn-gray"
            .exhibition__main__container__inner__overlay
            
  = render 'modules/logo-footer'

= render 'modules/sell-btn'