%body
  / Google Tag Manager (noscript)
  %noscript
    %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
  / End Google Tag Manager (noscript)
  .exhibition
    = render 'modules/logo-header'
    %main.exhibition__main
      %section.exhibition__main__container.buy-item-container
        #sell-container
          %div{"data-reactroot" => ""}
            .exhibition__main__container__inner
              %h2.exhibition__main__container__inner__head 商品の情報を入力
              = form_for @item do |f|
                .upload-box
                  %h3.upload-box__head
                    / react-text: 7
                    出品画像
                    / /react-text
                    %span.upload-box__head__require 必須
                  %p 最大10枚までアップロードできます
                  .upload-box__img.clearfix.state-image-number-10
                    .upload-box__img__container
                      .upload-box__img__container__upload-items.have-item-0
                        %ul
                          %li.upload-box__img__container__upload-items__item
                            -# %figure.exhibition__main__container__inner__form__upload-box__img__container__upload-items__item__figure
                            -#   %img{:src => "https://i.gzn.jp/img/2016/12/16/irasutoya-on-the-street/jitensya_cycling_man.png"}
                            -# .exhibition__main__container__inner__form__upload-box__img__container__upload-items__item__button
                            -#   %a{:href => "https://www.mercari.com/jp/"}編集
                            -#   %a{:href => "https://www.mercari.com/jp/"}削除
                    %label.upload-box__img__drop-box.have-item-0
                      %input.upload-box__img__drop-box__drop-file{:multiple => "multiple", :name => "image1", :style => "display: none;", :type => "file"}/
                      
                      %pre.upload-box__img__drop-box__visible-pc
                        :preserve
                          ドラッグアンドドロップ
                          またはクリックしてファイルをアップロード 
                  / react-empty: 18
                  / react-empty: 19
                  / react-empty: 20
                  / react-empty: 21
                  / react-empty: 22
                  / react-empty: 23
                  / react-empty: 24
                  / react-empty: 25
                  / react-empty: 26
                  / react-empty: 27
                .content-name
                  .content-name__form-group
                    %label
                      / react-text: 31
                      商品名
                      / /react-text
                      %span.content-name__form-group__require 必須
                    %div
                      = f.text_field :name,:placeholder => "商品名（必須 40文字まで)",class: "content-name__form-group__input-default"
                    / react-empty: 35
                  .content-name__form-group
                    %label
                      / react-text: 38
                      商品の説明
                      / /react-text
                      / react-text: 39
                      / /react-text
                      %span.content-name__form-group__require 必須
                    = f.text_area :detail,class: "content-name__form-group__textarea-default", :rows => "5",:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                    / react-empty: 42
                .content
                  .content__header
                    %h3.content__header__head 商品の詳細
                  .content__form-box
                    .listing-product-detail__category
                      = f.label 'カテゴリー', class: 'listing-default__label'
                      %span.listing-default--require 必須
                      .listing-select-wrapper
                        .listing-select-wrapper__box
                          //親カテゴリーのセレクトボックスの生成
                          = select_tag 'category_id', options_for_select(@category_parent_array),class: 'listing-select-wrapper__box--select', id: 'parent_category'
                          -# %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
                                  
                      / react-empty: 55
                    .form-group
                      %label
                        / react-text: 58
                        商品の状態
                        / /react-text
                        %span.form-group__require 必須
                      .select-wrap
                        = f.select :status, Item.statuses_i18n.invert,{},prompt: "---"
                      / react-empty: 64
                .content
                  .content__header
                    %h3.content__header__head 配送について
                    =link_to "?", "/jp/help_center/article/68/", class: "exhibition__main__container__inner__form__content__header__question", target: "_blank"

                  .content__form-box
                    .content__mail-box
                      .form-group
                        %label
                          / react-text: 71
                          配送料の負担
                          / /react-text
                          %span.form-group__require 必須
                        .select-wrap
                          = f.select :mail,[["---",''],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],class: "select-wrap__select-default",id: :burden_select
                        / react-empty: 77
                    .form-group
                      %label
                        / react-text: 80
                        発送元の地域
                        / /react-text
                        %span.form-group__require 必須
                      .select-wrap
                        = f.collection_select :prefecture_id,Prefecture.all,:id, :name, prompt: "---",class:"select-wrap__select-default"
                      / react-empty: 86
                    .form-group
                      %label
                        / react-text: 89
                        発送までの日数
                        / /react-text
                        %span.form-group__require 必須
                      .select-wrap
                        = f.collection_select :arrival_date_id,Arrival_date.all,:id, :date, prompt: "---"
                      / react-empty: 95
                .content-price
                  .content-price__header
                    %h3.exhibition__main__container__inner__form__content-price__header__head 販売価格(300〜9,999,999)
                    %a.content-price__header__question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                  .content-price__form-box
                    %ul.content-price__form-box__price
                      %li.content-price__form-box__price__form-group
                        .content-price__form-box__price__form-group__inner
                          %label.content-price__form-box__price__form-group__inner__left.bold
                            / react-text: 104
                            価格
                            / /react-text
                            %span.content-price__form-box__price__form-group__inner__left__require 必須
                          .content-price__form-box__price__form-group__inner__right
                            .content-price__form-box__price__form-group__inner__right__input
                              / react-text: 107
                              ¥
                              / /react-text
                            = f.text_field :price, :placeholder => "例）300",value: "",class: "amount-input"

                        / react-empty: 110
                      %li.content-price__form-box__price__form-group
                        .content-price__form-box__price__form-group__inner
                          %label.content-price__form-box__price__form-group__inner__left
                            販売手数料 (10%)
                          -# react-text: 199
                          /react-text
                          .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__right 
                            .fee
                      %li.exhibition__main__container__inner__form__content-price__form-box__price__form-group
                        .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner.none
                          .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__left.boldest 販売利益
                          .exhibition__main__container__inner__form__content-price__form-box__price__form-group__inner__right.boldest
                            .total_amount
                .exhibition__main__container__inner__form__modal{:role => "dialog", :tabindex => "-1"}
                  .exhibition__main__container__inner__form__modal__inner
                .exhibition__main__container__inner__form__btn-box

                  %div
                    %p
                      =link_to "禁止されている出品", "/jp/help_center/getting_started/prohibited_items/", target: "_blank"
                      / react-text: 123
                      、
                      / /react-text
                      =link_to "行為", "/jp/help_center/getting_started/prohibited_conduct/", target: "_blank"
                      / react-text: 125
                      を必ずご確認ください。
                      / /react-text
                    %p
                      / react-text: 127
                      またブランド品でシリアルナンバー等がある場合はご記載ください。
                      / /react-text
                      =link_to "偽ブランドの販売","/jp/help_center/getting_started/counterfeit_goods/", target: "_blank"
                      / react-text: 129
                      は犯罪であり処罰される可能性があります。
                      / /react-text
                    %p
                      / react-text: 131
                      また、出品をもちまして
                      / /react-text
                      =link_to "加盟店規約","/jp/seller_terms/"
                      / react-text: 133
                      に同意したことになります。
                      / /react-text
                  %div
                    = f.submit '出品する' ,class:"btn-box__btn-default btn-red"
                    / react-text: 135
                    / /react-text
                  =link_to "もどる", "/",class: "btn-box__btn-default btn-gray"
                  / react-empty: 137
              .exhibition__main__container__inner__overlay
             
    = render 'modules/logo-footer'