= render 'modules/header'

.show-whole
  .show-inner
    .box-show1
      %script{src: "js/image"}
      .show-item
        %p.name 
          =@item.name
        .img-box
          .relative
            .absolute
              - @item.images.each do |image|
                = image_tag image.image.url, class: "big", height: "520px", width: "620px"
                -# %img{alt: "a",height: "520", src: image, width: "620"}
        %ul.img-lists
          - @item.images.each_with_index do |image,i|
            %li.img-list
              = image_tag image.image.url, height: "150px", width:"180px",id: "#{i}",class: "img-list"
        .price-show
          %p.price 
            ¥
            =@item.price
          %p.tax 
            (税込) 送料込み
      
          - if user_signed_in? && current_user.id == @item.user_id
            .change
              = link_to '編集', "/items/#{@item.id}/edit", method: :get, class: "btn"
              %span or
              = link_to '削除', delete_item_path, class: "btn"
          - if user_signed_in? && current_user.id != @item.user_id
            .purchace
              = link_to "購入確認画面へ進む", confirm_item_path,class: "link" 

                    
      .show-detail
        %p.name 
          =@item.detail

        .show-detail__content
          %table
            %tr
              %th 出品者
              %td 
                =@user.nickname
            %tr
              %th カテゴリー
              %td.link
                = @parent.name
                %br 
                >
                = @children.name
                %br 
                >
                = @grandchildren.name
            -# %tr
            -#   %th ブランド
            -#   %td
            -#     -# =@brand.name
            -# %tr
            -#   %th 商品のサイズ
            -#   %td ?
            %tr
              %th 商品の状態
              %td 
                =@item.status_i18n
            %tr
              %th 配送料の負担
              %td 
                =@item.mail
            %tr
              %th 発送元の地域
              %td.link 
                = @prefecture.name
            %tr
              %th 発送日の目安
              %td 
                = @arrival_date.date

        .review
          .review__favorite
            - if Favorite.find_by(user_id: current_user.id, item_id: @item.id)
              = link_to("/favorites", {method: "post"}) do
                %span.fa.fa-heart.like-btn-unlike
            - else
              = link_to("/favorites", {method: "post"}) do
                %span.fa.fa-heart.like-btn
            = @favorites_count

          .review__poor
            = icon('fas', 'flag', class: "flag-icon")
            %p.text 不適切な商品の通報

    .box-show2
      .form
        %input.comment{type: "text-area",placeholder: "コメントを入力"}
        .attention
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button
          = icon('fas','comment',class: "comment-icon") 
          コメントする

    %ul
      %li.previous 
        = icon('fas', 'angle-left')
        前の商品
      %li.next 
        後ろの商品
        = icon('fas', 'angle-right')

    .see-others 
      %p.link 
        =@grandchildren.name
        をもっと見る 

= render 'modules/banner'

= render 'modules/footer'

= render 'modules/sell-btn'