= render 'modules/header'

.show-whole
  .show-inner
    .box-show1
      %script{src: "js/image"}
      .show-item
        %p.name 
          =@item.name
        .img-box
          .relative
            .absolute
              - @item.images.each do |image|
                = image_tag image.image.url, class: "big", height: "520px", width: "620px"
        %ul.img-lists
          - @item.images.each_with_index do |image,i|
            %li.img-list
              = image_tag image.image.url, height: "120px", width:"144px",id: "#{i}",class: "img-list"
        .price-show
          %p.price 
            ¥
            =@item.price
          %p.tax 
            (税込) 送料込み
      
          - if user_signed_in? && current_user.id == @item.user_id
            .change
              = link_to '編集', "/items/#{@item.id}/edit", method: :get, class: "btn"
              %span or
              = link_to '削除', delete_item_path, class: "btn"
          - if user_signed_in? && current_user.id != @item.user_id
            .purchace
              = link_to "購入確認画面へ進む", confirm_item_path,class: "link" 

                    
      .show-detail
        %p.name 
          =@item.detail

        .show-detail__content
          %table
            %tr
              %th 出品者
              %td 
                =@user.nickname
            %tr
              %th カテゴリー
              %td.link
                = link_to "#{@parent.name}", category_path(@parent),class: "parent_link"
                %br 
                >
                = link_to "#{@children.name}", category_path(@children)
                %br 
                >
                = link_to "#{@grandchildren.name}", category_path(@grandchildren)
            -# %tr
            -#   %th ブランド
            -#   %td
            -#     -# =@brand.name
            -# %tr
            -#   %th 商品のサイズ
            -#   %td ?
            %tr
              %th 商品の状態
              %td 
                =@item.status_i18n
            %tr
              %th 配送料の負担
              %td 
                =@item.mail
            %tr
              %th 発送元の地域
              %td.link 
                = @prefecture.name
            %tr
              %th 発送日の目安
              %td 
                = @arrival_date.date

        .review
          .review__favorite
            = icon('fas', 'star',class: "star-icon")
            %p.text お気に入り 0 
          .review__poor
            = icon('fas', 'flag', class: "flag-icon")
            %p.text 不適切な商品の通報

    .item-detail-message
      .message-container
        - if @comments.present?
          .message-content
            %ul.message-items
              = @comment.text

        - if user_signed_in?
          .message-content
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = form_for [@item, @comment] do |c|
              - if @item.sold_status == 1
                = c.text_area :text,required: "required", class: 'textarea-default'
                = c.submit "コメントする", data: { disable_with: "送信中..." },class: 'message-submit btn-default btn-gray',id: "new-comment-submit"
              - else
                = c.text_area :text, class: 'textarea-default disabled'
                = c.submit "売り切れのためコメントできません",:disabled => true, class: 'message-submit btn-default btn-gray'


 


    %ul
      %li.previous 
        = icon('fas', 'angle-left')
        前の商品
      %li.next 
        後ろの商品
        = icon('fas', 'angle-right')

    .see-others 
      %p.link 
        =@grandchildren.name
        をもっと見る 

= render 'modules/banner'

= render 'modules/footer'

= render 'modules/sell-btn'