=render 'modules/header'
.bread-crumbs
  - breadcrumb :category, @category
  = breadcrumbs separator: " &rsaquo; ", class: 'breadcrumbs-list'
.items_whole
  .categories_line
    - items = Item.where(category_id: @category.subtree_ids)
  .items_box
    .items_box__title
      = @category.name + "の商品一覧"
    .items_box__contents
    - items.each do |item|
      .items_list
        =link_to item_path(item.id) do
          %figure.items_list__img
            =image_tag Image.find_by(item_id: item.id).image.url
          .items_list__body
            %h3.items_list__body__name 
              =item.detail
            .items_list__body__details
              %ul
                %li 
                  =item.price
                %li
                  %i
                  0
              %p (税込)
   
= render 'modules/banner'

= render 'modules/footer'

= render 'modules/sell-btn'